
@font-face {
	font-family: 'YanoneKaffeesatz-Regular';
	src: url('YanoneKaffeesatz-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'YanoneKaffeesatz-Thin';
	src: url('YanoneKaffeesatz-Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'TitilliumText';
	src: url('TitilliumText.otf') format('opentype');
}

body {
	min-height: 600px;
	min-width: 980px;
	margin-top: -17px;
	margin-bottom: 164px;
	padding: 0px !important;
	
	word-wrap: break-word;
	line-height: 22px;
	font-family: 'TitilliumText', verdana, sans-sherif;
	font-size: 13px;
}

a {
	color: #08c;
	font-family: 'TitilliumText', verdana, sans-sherif;
}

h2 {
	font-family: 'YanoneKaffeesatz-Regular';
	font-size: 32px;
}

.inverted h2 {
	font-family: 'YanoneKaffeesatz-Thin';
}

#content {
	background-image: url(/img/background.png);
	background-repeat: repeat-x;
	background-position: 0px 0px;
	background-color: #f3f2f2;
	padding-bottom: 64px;
}

.footer {
	border-top: 3px solid #d1d0d0;
	height: 150px;
}

.sitemap {
	font-size: 13px;
	margin-left: auto;
	margin-right: auto;
	width: 940px;
	height: 140px;
	margin-top: 32px;
}

.sitemap #sections {
	height: 24px;
	padding-left: 51px;
	padding-right: 51px;
	border-bottom: 1px solid #ccc;
}

.sitemap #sections a {
	color: #333;
	font-weight: bold;
}

.sitemap #subsections {
	padding-left: 51px;
	padding-right: 51px;
	padding-top: 12px;
}

.sitemap .column {
	width: 95px;
	display: inline-table;
	margin-left: 10px;
	margin-right: 10px;
}

.sitemap ul li {
	list-style-type: none;
	margin-bottom: 13px;
	line-height: 14px;
}

.container {
    max-width: 940px;
    min-width: 940px;
}

#top-menu {
	height: 73px;
	background-color: white;
	border-bottom: 2px solid #cccccc;
	z-index: 10;
	position: relative;
}

#top-menu #ribbon {
	width: 123px;
	height: 165px;
	margin-left: 8px;
	display: inline-block;
	background-image: url(/img/ribbon.png);
	z-index: 2; position: absolute;
}

#top-menu #menu-bar {
	font-size: 12px;
	padding: 29px 14px 17px 145px;
	vertical-align: top;
	display: inline-block;
	height: 40px;
}

#top-menu #menu-bar a {
	padding: 3px 6px 3px 6px;
	display: inline-block;
	text-transform: uppercase;
	background-color: #f8f8f8;
	margin-right: 6px;
	color: black;
	
	border: 1px solid #ddd;
	border-bottom: 2px solid #ddd;
	vertical-align: bottom;
	
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}

#top-menu #menu-bar a:hover {
	border: 1px solid #ccc;
	border-top: 2px solid #ccc;
	background-color: #e8e8e8;
	text-decoration: none;
}

#menu-image-slider {
	margin-bottom: 32px;
}

#menu-image-slider .slider-container .images img {
    -moz-border-bottom-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -khtml-border-bottom-left-radius: 6px;
    border-bottom-left-radius: 6px;
    
    -moz-border-bottom-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -khtml-border-bottom-right-radius: 6px;
    border-bottom-right-radius: 6px;
    
	-webkit-box-shadow: 0px 0px 9px 2px rgba(128, 128, 128, 0.4);
	box-shadow: 0px 0px 9px 2px rgba(128, 128, 128, 0.4);
    
	border: 1px solid #767675;
	border-top: 0px;
}

.image-slider .slider-container .images {
    position: relative;
    max-height: 460px;
}

.image-slider .slider-container .images img {
    position: absolute;
}

.image-slider .slider-container .images img.inactive {
	display: none;
}

.image-slider .slider-container .controls {
	position: relative;
	text-align: center;
	z-index: 1;
	width: 100%;
}

.image-slider .slider-container .controls i {
	cursor: pointer;
	width: 16px;
	height: 16px;
	margin-top: 45%;
	display: inline-block;
}

.image-slider .slider-container .controls i.active {
	background-image: url(/img/slider-dot-active.png);
	background-repeat: no-repeat;
}

.image-slider .slider-container .controls i.inactive {
	opacity: 0.4;
	filter:alpha(opacity=40);
	background-image: url(/img/slider-dot-inactive.png);
	background-repeat: no-repeat;
}

.image-slider .slider-container .controls i.inactive:hover {
	opacity: 0.7;
	filter:alpha(opacity=70);
}

#sub-menu-bar {
	padding: 17px 14px 17px 149px;
	width: 600px;
	height: 110px;
}

#sub-menu-bar a {
	padding: 5px 8px;
	font-size: 10px;
	text-transform: uppercase;
	background-color: #8e8c8a;
	margin-right: 10px;
	color: black;
	
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}

#sub-menu-bar a:hover {
	background-color: #807d7a;
	text-decoration: none;
}

.items {
	display: none;
}

.item {
	padding: 38px 56px 52px 56px;
	background-color: white;
	border: 1px solid #92918f;
	-webkit-box-shadow: 0px 0px 9px 2px rgba(128, 128, 128, 0.4);
	box-shadow: 0px 0px 9px 2px rgba(128, 128, 128, 0.4);
	
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
}

.item.inverted {
	color: #fff;
}

.item.inverted a {
	color: #219edd;
}

.item:not(:first-child) {
	margin-top: 20px;
}

.item .header {
	margin-bottom: 24px;
}

.item .header.middle-column {
	margin-left: 284px;
}

.item.background-1 {
	background-color: #555;
	background-image: url(/img/back-1.jpg);
	background-position: left center;
	background-repeat: no-repeat;
	background-size: cover;
}

.item.background-2 {
	background-color: #000;
	background-image: url(/img/back-2.jpg);
	background-position: right -120px bottom;
	background-repeat: no-repeat;
	background-size: 600px;
}

.column_of_2 {
	display: inline-block;
	text-align: justify;
	vertical-align: top;
	width: 392px;
}

.column_of_2:not(:first-child) {
	margin-left: 34px;
}

.column_of_3 {
	display: inline-block;
	text-align: justify;
	vertical-align: top;
	width: 250px;
}

.column_of_3:not(:first-child) {
	margin-left: 34px;
}

