@font-face {
	font-family: 'ptsans';
	src: url('PTSans.ttc') format('truetype');
}

@font-face {
	font-family: 'cicle gordita';
	src: url('Cicle Gordita.ttf') format('truetype');
}

@font-face {
	font-family: 'TitilliumText';
	src: url('TitilliumText.otf') format('opentype');
}

body {
	min-height: 600px;
	margin-top: -17px;
	margin-bottom: 164px;
	
	word-wrap: break-word;
	line-height: 22px;
	font-family: TitilliumText, verdana, sans-sherif;
	font-size: 13px;
}

h2 {
	font-family: cicle gordita;
	font-size: 28px;
}

#content {
	background-image: url(/img/background.png);
	background-repeat: repeat-x;
	background-position: 0px 0px;
	background-color: #f3f2f2;
	padding-bottom: 64px;
}

.footer {
	border-top: 3px solid #d1d0d0;
	height: 150px;
}

.sitemap {
	font-size: 12px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 33px;
	width: 805px;
	height: 140px;
	margin-top: 32px;
}

.sitemap .span1 {
	min-width: 95px;
	margin-left: 20px;
}

.sitemap ul {
	margin-top: 21px;
}

.sitemap ul li {
	list-style-type: none;
	margin-bottom: 13px;
	line-height: 14px;
}

.container {
    max-width: 940px;
    min-width: 724px;
}

#top-menu {
	height: 73px;
	background-color: white;
	border-bottom: 2px solid #cccccc;
	z-index: 10;
	position: relative;
}

#top-menu #ribbon {
	width: 123px;
	height: 165px;
	margin-left: 8px;
	display: inline-block;
	background-image: url(/img/ribbon.png);
	z-index: 2; position: absolute;
}

#top-menu #menu-bar {
	font-size: 12px;
	padding: 29px 14px 17px 145px;
	vertical-align: top;
	display: inline-block;
	height: 40px;
}

#top-menu #menu-bar a {
	padding: 3px 6px 3px 6px;
	display: inline-block;
	text-transform: uppercase;
	background-color: #f8f8f8;
	margin-right: 10px;
	color: black;
	
	border: 1px solid #ddd;
	border-bottom: 2px solid #ddd;
	vertical-align: bottom;
	
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}

#top-menu #menu-bar a:hover {
	border: 1px solid #ccc;
	border-top: 2px solid #ccc;
	background-color: #e8e8e8;
	text-decoration: none;
}

#menu-image-slider .images {
	height: 459px;
}

#menu-image-slider .images img {
    -moz-border-bottom-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -khtml-border-bottom-left-radius: 6px;
    border-bottom-left-radius: 6px;
    
    -moz-border-bottom-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -khtml-border-bottom-right-radius: 6px;
    border-bottom-right-radius: 6px;
    
	-webkit-box-shadow: 0px 0px 9px 2px rgba(128, 128, 128, 0.4);
	box-shadow: 0px 0px 9px 2px rgba(128, 128, 128, 0.4);
    
	border: 1px solid #767675;
	border-top: 0px;
}

.image-slider .images {
    position: relative;
}

.image-slider .images img {
    position: absolute;
}

.image-slider .images img.inactive {
	display: none;
}

.image-slider .controls {
	text-align: center;
	position: relative;
	bottom: 30px;
	z-index: 5;
	width: 100%;
}

.image-slider .controls i {
	cursor: pointer;
	height: 16px;
	width: 16px;
	display: inline-block;
}

.image-slider .controls i.active {
	background-image: url(/img/slider-dot-active.png);
}

.image-slider .controls i.inactive {
	opacity: 0.4;
	filter:alpha(opacity=40);
	background-image: url(/img/slider-dot-inactive.png);
}

.image-slider .controls i.inactive:hover {
	opacity: 0.7;
	filter:alpha(opacity=70);
}

#sub-menu-bar {
	padding: 17px 14px 17px 149px;
	width: 600px;
	height: 110px;
}

#sub-menu-bar a {
	padding: 5px 8px;
	font-size: 10px;
	text-transform: uppercase;
	background-color: #8e8c8a;
	margin-right: 10px;
	color: black;
	
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}

#sub-menu-bar a:hover {
	background-color: #807d7a;
	text-decoration: none;
}

.items {
	display: none;
}

.item {
	padding: 38px 56px 52px 56px;
	background-color: white;
	border: 1px solid #92918f;
	-webkit-box-shadow: 0px 0px 9px 2px rgba(128, 128, 128, 0.4);
	box-shadow: 0px 0px 9px 2px rgba(128, 128, 128, 0.4);
	
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
}

.item:not(:first-child) {
	margin-top: 20px;
}

.header {
	margin-bottom: 24px;
}

.column_of_3 {
	display: inline-block;
	text-align: justify;
	vertical-align: top;
	width: 250px;
}

.column_of_3:not(:first-child) {
	margin-left: 34px;
}

@media (max-width: 980px) { 
	
	#menu-image-slider .images {
		height: 355px;
	}

	.column_of_3 {
		width: 100%;
		display: block;
	}
	
	.column_of_3:not(:first-child) {
		margin: 22px 0px 0px 0px;
	}

}

@media (max-width: 640px) { 
	
	#menu-image-slider .images {
		height: 355px;
	}

	.column_of_3 {
		width: 100%;
		display: block;
	}
	
	.column_of_3:not(:first-child) {
		margin: 22px 0px 0px 0px;
	}

}

