@font-face {
	font-family: 'YanoneKaffeesatz-Regular';
	src: url('YanoneKaffeesatz-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'YanoneKaffeesatz-Thin';
	src: url('YanoneKaffeesatz-Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto-Regular';
	src: url('Roboto-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'TitilliumText';
	src: url('TitilliumText.otf') format('opentype');
}

body {
	margin-top: -17px;
	margin-bottom: 164px;
	padding: 0px !important;

	word-wrap: break-word;
	line-height: 22px;
	font-family: 'Roboto-Regular', verdana, sans-sherif;
	font-size: 13px;
}

a {
	color: #08c;
	font-family: 'Roboto-Regular', verdana, sans-sherif;
}

p {
    margin: 0px;
}

h2 {
	font-family: 'YanoneKaffeesatz-Regular';
	font-size: 32px;
}

table {
	width: 100%;
	margin-top: 50px;
}

table td {
	border: 0px !important;
}

table thead td {
	border-bottom: 1px solid #ccc !important;
}

table thead td {
	font-weight: bold;
	font-size: 21px;
	font-family: 'YanoneKaffeesatz-Regular';
}

input[type="text"], input[type="email"] {
	width: 100%;
}

textarea {
	width: 100%;
	height: 200px;
}

.alert {
	margin-top: 10px;
	text-shadow: none;
	border-width: 1px 1px 3px 1px;
	padding: 20px 30px;
	font-size: 16px;
}

.alert-success {
	border-color: #227d22;
	background-color: #449d44;
	color: #fff;
}

.alert-danger {
	border-color: #b9332f;
	background-color: #d9534f;
	color: #fff;
}

#content {
	background-image: url(/img/background.png);
	background-repeat: repeat-x;
	background-position: 0px 0px;
	background-color: #f3f2f2;
	padding-bottom: 64px;
}

.container {
	max-width: 972px;
	min-width: 972px;
}

#footer {
	border-top: 3px solid #d1d0d0;
	height: 150px;
}

#footer ul li:first-child a {
	color: #333;
	font-weight: bold;
}

#footer .columns {
	text-align: center;
	margin-top: 32px;
	margin-left: 20px;
	margin-right: 20px;
}

#footer .columns .container {
	height: 380px;
	column-count: 4;
	-moz-column-count: 4;
	-webkit-column-count: 4;
	column-gap: 24px;
	-moz-column-gap: 24px;
	-webkit-column-gap: 24px;
}

#footer .columns .container .short {
	height: 100px;
}

#footer .columns .container .tall {
	height: 250px;
}

#footer .container div {
	height: 164px;
	min-width: 140px;
	width: 200px;
	display: inline-table;
	text-align: left;
	clear: both;
}

#footer .container ul {
	margin: 0px;
}

#footer .container ul li:first-child {
	padding-bottom: 6px;
	margin-bottom: 14px;
	border-bottom: 1px solid #ccc;
}

#footer .container ul li {
	list-style-type: none;
	margin-bottom: 13px;
	line-height: 14px;
}

#top-menu {
	height: 73px;
	background-color: white;
	border-bottom: 2px solid #cccccc;
	z-index: 10;
	width: 100%;
	position: fixed;
}

#top-menu #ribbon {
	width: 123px;
	height: 165px;
	margin-left: 8px;
    margin-top: -55px;
	display: inline-block;
	background-image: url(/img/ribbon.png);
	z-index: 2;
	position: absolute;
}

#top-menu .menu-container {
	margin-left: 145px;
}

#top-menu #menu-bar {
	font-size: 12px;
	margin: 29px 0 17px 0;
	vertical-align: top;
	display: inline-block;
	width: 100%;
	height: 40px;
}

#top-menu #menu-bar .menu-btn {
	padding: 3px 5px 3px 5px;
	display: inline-block;
	text-transform: uppercase;
	background-color: #f8f8f8;
	margin-right: 4px;
	color: black;

	border: 1px solid #ddd;
	border-bottom: 2px solid #ddd;
	vertical-align: bottom;

	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
}

#top-menu #menu-bar .logo-btn {
	padding: 0px 5px 0px 5px;
	display: inline-block;
	float: right;

	opacity: 0.4;
	filter: alpha(opacity=40) grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
}

#top-menu #menu-bar .logo-btn:hover {
	opacity: 1.0;
	filter: none;
	-webkit-filter: none;
	-moz-filter: none;
}

#top-menu #menu-bar .menu-btn:hover {
	border: 1px solid #ccc;
	border-top: 2px solid #ccc;
	background-color: #e8e8e8;
	text-decoration: none;
}

#sub-menu-bar {
	padding: 87px 14px 55px 149px;
	width: 600px;
	height: 70px;
}

#sub-menu-bar a {
	padding: 2px 6px 0px 6px;
	display: inline-block;
	font-size: 11px;
	text-transform: uppercase;
	background-color: #c0bfbe;
	margin-right: 4px;
	color: black;

	border: 1px solid #908e8d;
	border-bottom: 2px solid #908e8d;
	vertical-align: bottom;

	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
}

#sub-menu-bar a:hover {
	background-color: #dedddd;
	text-decoration: none;
}

#menu-image-slider {
	margin-top: 50px;
	margin-bottom: 32px;
}

#menu-image-slider .slider-container .images img {
	-moz-border-bottom-left-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-khtml-border-bottom-left-radius: 6px;
	border-bottom-left-radius: 6px;

	-moz-border-bottom-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-khtml-border-bottom-right-radius: 6px;
	border-bottom-right-radius: 6px;
}

.image-slider .slider-container .images {
	position: relative;
	max-height: 460px;
}

.image-slider .slider-container .layover {
	position: relative;
	max-height: 460px;
}

.image-slider .slider-container .layover img {
	z-index: 3;
	position: absolute;
	right: 20px;
	top: 40px;

	width: 211px;
	height: 100px;
	border: 0;
}

.image-slider .slider-container .images img {
	position: absolute;
}

.image-slider .slider-container .images img.active {
	-webkit-box-shadow: 0px 0px 9px 2px rgba(128, 128, 128, 0.4);
	box-shadow: 0px 0px 9px 2px rgba(128, 128, 128, 0.4);

	border: 1px solid #767675;
	border-top: 0px;
}

.image-slider .slider-container .images img.inactive {
	display: none;
}

.image-slider .slider-container .controls {
	position: relative;
	text-align: center;
	z-index: 1;
	width: 100%;
}

.image-slider .slider-container .controls i {
	cursor: pointer;
	width: 16px;
	height: 16px;
	margin-top: 45%;
	display: inline-block;
}

.image-slider .slider-container .controls i.active {
	background-image: url(/img/slider-dot-active.png);
	background-repeat: no-repeat;
}

.image-slider .slider-container .controls i.inactive {
	opacity: 0.4;
	filter: alpha(opacity=40);
	background-image: url(/img/slider-dot-inactive.png);
	background-repeat: no-repeat;
}

.image-slider .slider-container .controls i.inactive:hover {
	opacity: 0.7;
	filter: alpha(opacity=70);
}

.image-list {
    text-align: center;
}

.image-list img {
	margin-bottom: 16px;
}

.image-list img:last-child {
	margin-bottom: 0px;
}

.project-image {
	height: 620px;
	width: 100%;
}

.project-image .slider-container .controls i {
	margin-top: 56% !important;
}

#items {
	background-color: #fff;
	border: 1px solid #9c9b9a;
	-webkit-box-shadow: 0px 0px 9px 2px rgba(128, 128, 128, 0.4);
	box-shadow: 0px 0px 9px 2px rgba(128, 128, 128, 0.4);

	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	border-radius: 6px;
}

.rounded {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	border-radius: 6px;
}

.rounded-bottom {
	-moz-border-radius-bottomleft: 6px;
	-moz-border-radius-bottomright: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-khtml-border-radius-bottomleft: 6px;
	-khtml-border-radius-bottomright: 6px;
	border-radius-bottomleft: 6px;
	border-radius-bottomright: 6px;
}

.rounded-top {
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-khtml-border-radius-topleft: 6px;
	-khtml-border-radius-topright: 6px;
	border-radius-topleft: 6px;
	border-radius-topright: 6px;
}

.item {
	padding: 48px 56px 96px 56px;
	border-bottom: 1px solid #ddd;
	-webkit-box-shadow: 0px 20px 20px rgba(128, 128, 128, 0.08);
	-moz-box-shadow: 0px 20px 20px rgba(128, 128, 128, 0.08);
	box-shadow: 0px 20px 20px rgba(128, 128, 128, 0.08);
}

.item.inverted {
	color: #fff;
}

.item.inverted:not(:last-child) {
	border-bottom: 1px solid #666;
}

.item.inverted a {
	color: #219edd;
}

.item .header {
	margin-bottom: 24px;
}

.item .header.middle-column {
	margin-left: 284px;
}

.item.background-1 {
	background-color: #555;
	background-image: url(/img/back-1.jpg);
	background-position: left center;
	background-repeat: no-repeat;
	background-size: cover;
}

.item.background-2 {
	background-color: #000;
	background-image: url(/img/back-2.jpg);
	background-position: right bottom;
	background-repeat: no-repeat;
	background-size: contain;
}

.item.background-3 {
	background-color: #fff;
	background-image: url(/img/back-3.jpg);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: contain;
	padding-bottom: 380px;
}

.item.background-4 {
	background-color: #fff;
	background-image: url(/img/back-4.jpg);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 700px;
}

.item.background-5 {
	background-image: url(/img/back-5.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.item.background-6 {
	background-image: url(/img/back-6.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.item.background-7 {
	background-image: url(/img/back-7.jpg);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
}

.item.background-8 {
	background-image: url(/img/back-8.jpg);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-color: white;
}

.item.background-9 {
	background-image: url(/img/back-9.jpg);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-color: white;
}

.item.background-10 {
	background-image: url(/img/back-10.jpg);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-color: white;
}

.item.background-11 {
	background-image: url(/img/back-11.jpg);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-color: white;
}

.item.background-12 {
	background-image: url(/img/back-12.jpg);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-color: white;
}

.item.background-13 {
	background-image: url(/img/back-13.jpg);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-color: white;
}

.item.background-14 {
	background-image: url(/img/back-14.jpg);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-color: white;
}

.item.background-15 {
	background-image: url(/img/back-15.jpg);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-color: white;
}

.item.background-16 {
	background-image: url(/img/back-16.jpg);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-color: white;
}

.item .header-0-1-0 {
	margin-left: 33%;
}

.item .header-0-1 {
	margin-left: 50%;
}

.item .columns-1-1-1 {
	column-count: 3;
	-moz-column-count: 3;
	-webkit-column-count: 3;
	column-gap: 34px;
	-moz-column-gap: 34px;
	-webkit-column-gap: 34px;
	text-align: justify;
}

.item .columns-1-1-0 {
	column-count: 2;
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-gap: 34px;
	-moz-column-gap: 34px;
	-webkit-column-gap: 34px;
	text-align: justify;
	width: 66%;
}

.item .columns-0-1-1 {
	column-count: 2;
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-gap: 34px;
	-moz-column-gap: 34px;
	-webkit-column-gap: 34px;
	text-align: justify;
	margin-left: 33%;
	width: 66%;
}

.item .columns-1-1 {
	column-count: 2;
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-gap: 34px;
	-moz-column-gap: 34px;
	-webkit-column-gap: 34px;
	text-align: justify;
}

.item .columns-1-0 {
	width: 50%;
	text-align: justify;
}

.item .columns-0-1 {
	margin-left: 50%;
	text-align: justify;
	width: 50%;
}

.item .map {
	width: 826px;
	height: 640px;
	border: 1px solid #808080;
}

.item h1, .item h2, .item h3 {
	margin-top: 20px;
}

.item ul.half-width {
	width: 360px;
}

.item ul {
	margin-bottom: 20px;
}

.item ul li {
	line-height: 20px;
	margin-top: 4px;
	margin-bottom: 4px;
}

.item ul li ul li, .item ul.no-margin li {
	margin: 0px;
}

.project-bar:not(:first-child) {
	margin-top: 38px;
}

.project-item {
	width: 395px;
	height: 247px;
	display: inline-block;
}

.project-item-overlay {
	width: 395px;
	height: 62px;
	display: block;
	margin-top: 185px;
	background-color: rgba(255, 255, 255, 0.72);
}

.project-item-title {
	margin: 20px;
	font-size: 24px;
	font-weight: bold;
	display: inline-block;
}

.news {
}
